header{
background:#636466; 
  color:#FFFFFF;
  background-image: url('../images/flywheel.jpg');

}
h1{
  padding-top: 12px;
  color:#FFFFFF;
  font-size: 28px;
  font-weight: bold;
  text-transform:uppercase;
  text-align:center;

}

h2 {
  color:#000000;
  /*text-transform:uppercase; */
  font-size: 36px;
  
}

body{
  background:#ffffff; 
  font-size: 20px;
  padding: 1px;
}
a{
  background:#CDD0D0;
  color:#000000;
  text-align:center;
  
}

/*
img{
  display:none
}

*/
nav{
  background-size: 10%;
}
nav a {
  width: 200px;
  height: 40px;
  text-align: center;
border-radius: 5px;
  padding-top: 20px;
  
  text-decoration: none;

  margin: 1% 6% 2% 2%;
  font-size: 20px;
  background: rgba(254, 254, 254, 0.3);
 color: #000000;
  display: inline-block;

}
nav a:hover{
  background: #ffffff;
  opacity: 0.5;


}

.active:active{
  background: #ffffff;
  opacity: 1;
}


.left{
background: #649429;
display: inline-block;
width: 15%;
height: 800px;

position: relative;
left: 0px;

}

.right{
display: inline-block;
position: absolute;
width: 70%;
left: 19%;
top: 20%
height:300px;
}

img{

  width: 75%;
 margin-top: 50px;
margin-left: 25px;
  border: black solid 3px;

}